.animal {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    font-size: 36px;
    background-color: black;
    color: blue;
    text-align: center;
}

#animal1 { background-color: red; }
#animal2 { background-color: yellow; }
#animal3 { background-color: gray; }

.animals {
    margin-bottom: 30px;
}

.inputField {
    font-size: 15px;
    margin-bottom: 5px;
}

input {
    font-size: 15px;
}

button {
    font-size: 15px;
}

.buttonSection { margin-top: 30px; }

#randomAnimal {
    margin-top: 10px;
    font-size: 36px;
}